/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}


/* Carrito de compras */
.carrito {
    padding: 40px;
    background-color: white;
}

.carrito-header h2 {
    font-size: 28px;
    color: #1E3A8A; /* Azul */
    margin-bottom: 20px;
}

.carrito-contenido {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.producto-carrito {
    display: flex;
    gap: 20px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.producto-carrito img {
    max-width: 150px;
    border-radius: 8px;
}

.producto-info {
    flex: 1;
}

.producto-info h3 {
    color: #1E3A8A;
    font-size: 22px;
}

.producto-info p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

.precio {
    font-size: 20px;
    color: #DC143C; /* Rojo */
}

.cantidad input {
    width: 50px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.remover-producto {
    background-color: #DC143C; /* Rojo */
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.remover-producto:hover {
    background-color: #800080; /* Morado */
}

/* Resumen de compra */
.resumen-compra {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.resumen-compra h3 {
    font-size: 22px;
    color: #1E3A8A;
    margin-bottom: 10px;
}

.resumen-compra p {
    font-size: 18px;
    color: #555;
    margin: 5px 0;
}

.boton-compra {
    background-color: #800080; /* Morado */
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
}

.boton-compra:hover {
    background-color: #1E3A8A; /* Azul */
}

